@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,800;1,700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    max-width: 1350px;
}

main {
    align-items: center;
    /* border: 2px solid green; */
}

/* nav bar style */
.navigation-bar {
    display: flex;
    margin: 10px 80px;
    padding: 10px;
    max-width: 1360px;
}

.navigation-bar-1 {
    /* border: 1px solid red; */
    display: flex;
    width: 50%;


}

.page-link {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 50%;
    padding: 10px;
}

.link-1 {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.link-2 {
    color: #424247;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}

#home {
    color: #FF5400;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.navbar-1 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.title-1 {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}

.explore-your-travel {
    background-image: url('../Images/Group\ 13\ .png');
    height: 100dvh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    margin: 50px 80px;
    text-align: center;
    /* border: 2px solid red; */
    border-radius: 16px;
}

.explore-h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 40px;
    /* border: 1px solid greenyellow; */
}

.explore-p {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
    /* border: 1px solid red; */
    margin: 20px auto;

}

.input-0 {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    /* border: 1px solid blueviolet; */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-1 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border: none;
}

.button-1 {
    background: #FF5400;
    color: #FFF;
}

/* our popular tour section */
.Our-Popular-Tours {
    display: flex;
    /* border: 1px solid red; */
    margin: 1px 80px;
}

.Our-Popular-Tours-1 {
    width: 50%;
    /* border: 1px solid green; */
    padding: 10px;
    width: 540px;
    height: 550px;
}

.Our-Popular-Tours-2 {
    width: 50%;
    /* border: 1px solid green; */
    /* padding: 20px; */
    width: 540px;
    height: 550px;
    margin: 1px auto;
    border-radius: 16px;

}

.Our-Popular-Tours-1 h1 {
    color: #131318;
    text-align: left;
    font-size: 2.4rem;
    font-weight: 800;
}

.Our-Popular-Tours-1 p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.Our-Popular-Tours-1 ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    padding-left: 20px;
}

.button-2 {
    width: 174px;
    height: 52px;
    background: #FF5400;
    color: #FFF;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
}


#choose-your-destination-1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
}

#choose-your-destination-2 {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 10px auto;
    /* 162.5% */
}


.images-place {
    /* weight:1000px; */
    margin: 30px 80px;
    /* border: 2px solid red; */
    /* display:grid; */
}

.why {
    text-align: center;
}

.why-1 {
    width: 643px;
    margin: 10px auto;
}

.choose-us {
    display: flex;
    margin: 30px 80px;
}

.choose-us-1 {
    width: 50%;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2%;

}

.h1-class {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px;
}

.pc-class {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
    margin-top: 20px;
}

.choose-us-2 {
    width: 50%;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2%;
}

.choose-us-1,
.choose-us-2 {
    margin-top: 30px;
}

.price-1 {
    width: 573px;
    height: 284px;
    margin: 10px auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 2%;
}

.last-section {
    margin: 30px 80px;
}

.place-to-lost {
    display: flex;
}

.simple {
    display: 50%;
}

.simple h1 {
    width: 448px;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 60px;
    /* 150% */
}

.simple p {
    width: 532px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.simple ul {
    width: 518px;
    color: #131318;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-top: 10px;
}

.simple-1 {
    display: 50%;
}

.deals {
    display: flex;
}

.news {
    display: 50%;
    /* border: 1px solid red; */
    padding: 3%;
}

.news h1 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.news p {
    width: 350px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.form input {
    margin-top: 3%;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.s-100 {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}


input[type=submit] {

    width: 100%;
    background-color: #FF5400;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
    cursor: pointer;
}

.last-img {
    display: 50%;
    /* border: 1px solid red; */
}

.transform {
    display: block;
    height: 60px;
    weight: 10px;
    background-color: #FF5400;
    position: relative;
    top-right: -500px;
    rotate: -19.628deg;
    border-radius: 8px;

}

.transform a {
    text-decoration: none;
    background: #FF5400;
}


.transform p {

    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: rgba(19, 19, 24, 0.05);
    flex-direction: column;
}

.foot-1 {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.last-1 {
    width: 769px;
    margin: 10px auto;
}

.social-links {
    text-align: center;
    background-size: contain;
    margin-bottom: 20px;
}

.h-line {
    width: 872px;
    height: 1px;
    margin: 0px auto;
}

#right {
    text-align: center;
    margin: 20px auto;
}

@media screen and (max-width:600px) {
    * {
        max-width: 600px;
    }

    .navigation-bar {
        display: none;
    }

    .explore-your-travel {
        height: 700px;
        margin: 5px 10px;
        width:575px;

    }

    .page-link {
        flex-direction: column;
    }

    .explore-h1 {
        padding: 5px;
        font-size: 2rem;
    }

    .explore-p {
        width: 400px;
    }

    .input-0 {
        flex-direction: column;
    }

    .input-1 {
        width: 500px;
    }
    .Our-Popular-Tours{
     flex-direction: column;
     margin: 1px 10px;
    }
    .Our-Popular-Tours-1 {
        width: 100%;
    }

    .Our-Popular-Tours-2 {
        width: 100%;
       
    }
    .images-place img{
        width: 100%;

    }
    .why-1 {
        width: 543px;
        margin: 1px auto;
    }
    .choose-us-1 {
         width: 100%;
    }
    .choose-us-1, .choose-us-2 {
        margin-top:5px;
    }
    .choose-us {
        flex-direction: column;
        margin:2px 10px;
    }
    .last-section {
        margin: 3px 10px;
    }
    .place-to-lost{
        flex-direction: column;
    }
    .simple{
        width: 100%;
    }
    .simple-1 {
        display: 100%;
        width: 550px;
        
    }
    .deals {
        flex-direction: column;
    }
    
    .news {
        display: 100%;
        /* border: 1px solid red; */
        padding: 3%;
    }
    .form input {
        margin-top: 3%;
        width: 553px;
        height: 52px;
       
    }
    .last-img {
        display: 100%;
        margin: 1px 10px;
    }
    .transform {
        
        top-right: -50px;
       
    
    }

}